@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500&display=swap');
/* font-family: 'Noto Serif TC', serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@font-face {
	font-family: 'Adlinnaka';
	src: url("/assets/fonts/Adlinnaka-BoldDemo.ttf");
	font-display: swap;
}
@font-face {
	font-family: 'Ageo';
	src: url("/assets/fonts/AgeoPersonalUse-Medium.otf");
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Ageo';
	src: url("/assets/fonts/AgeoPersonalUse-Bold.otf");
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: 'Iropke Batang';
	src: url("/assets/fonts/IropkeBatangM.ttf");
	font-display: swap;
}
@font-face {
	font-family: 'Andalusia';
	src: url("/assets/fonts/Andalusia.ttf");
	font-display: swap;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Ageo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
	background: url("/assets/images/background.jpg") fixed;
	/* background: url("/assets/images/background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}
body {
	height: auto !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* MOBILE */
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
	.home-logo img {
		height: 160px;
	}
	.home-flower {
		height: 100%;
		width: 100%;
	}
	.home-flower img {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
	.home-logo img {
		height: 160px;
	}
	.home-flower {
		bottom: 0;
	}
	.home-flower img {
		width: 100%;
	}
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
	.home-logo img {
		height: 160px;
	}
	.home-flower {
		bottom: 0;
	}
	.home-flower img {
		max-width: 100%;
		max-height: 100%;
	}
}

/* PC */
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
	.home-logo img {
		height: 300px;
	}
	.home-flower {
		height: 100%;
	}
	.home-flower img {
		height: 100%;
	}
}
/* Media Query for Large screens */
@media (min-width: 1281px) {
	.home-logo img {
		height: 300px;
	}
	.home-flower {
		height: 100%;
	}
	.home-flower img {
		height: 100%;
	}
}

/* FADE IN */
.fade-in {
	animation: fadeIn ease 3s;
	-webkit-animation: fadeIn ease 3s;
	-moz-animation: fadeIn ease 3s;
	-o-animation: fadeIn ease 3s;
	-ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* #feb620 */
/* #f63e2c */

/* index.js */
.home-container {
	height: 100vh;
	width: 100vw;
	position: relative;
}
.home-logo {
	height: 100%;
	width: 100%;
	z-index: 10;
	position: absolute;
}
.home-logo img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.home-flower {
	z-index: 5;
	position: absolute;
	width: 100%;
	overflow: hidden;
}
.home-title {
	position: absolute;
	bottom: 4%;
	text-align: center;
	z-index: 10;
	margin: auto;
	left: 0;
	right: 0;
}
.home-title span {
	color: #feb620;
	font-family: "Ageo";
	font-size: 12px;
}
.home-twitter {
	z-index: 15;
	margin: 0;
	position: absolute;
	right: 30px;
	top: 30px;
}
.home-twitter img {
	width: 30px;
	height: auto;
}

/* menu */
.menu-logo {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 2;
}
.menu-logo img {
	width: 80px;
}
.menu-block {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	height: 60%;
	margin: 140px 0 0 0;
}
.menu-icon {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-icon img {
	height: auto;
	width: 120%;
	margin-left: -10%;
}
.menu-icon img:hover,
.menu-icon img:active {
	width: 140%;
}
.menu-icon:hover,
.menu-icon:active {
	z-index: 100 !important;
}
.menu-icon:nth-child(1) {
	z-index: 25;
}
.menu-icon:nth-child(2) {
	z-index: 10;
}
.menu-icon:nth-child(3) {
	z-index: 15;
}
.menu-icon:nth-child(4) {
	z-index: 20;
}
/* <839 */
@media (max-width: 839px) {
	.menu-block {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.menu-icon:nth-child(1) {
		width: 45vw;
	}
	.menu-icon:nth-child(2) {
		width: 40vw;
	}
	.menu-icon:nth-child(3) {
		width: 38vw;
	}
	.menu-icon:nth-child(4) {
		width: 48vw;
	}
}
/* >840 */
@media (min-width: 840px) {
	.menu-icon:nth-child(1) {
		width: 220px;
	}
	.menu-icon:nth-child(2) {
		width: 200px;
	}
	.menu-icon:nth-child(3) {
		width: 190px;
	}
	.menu-icon:nth-child(4) {
		width: 230px;
	}
}

/* navbar */
.nav-div {
	position: fixed;
	margin: 0;
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	width: 100%;
}
.nav-logo {
	display: inline-block;
}
.nav-logo img {
	width: 80px;
}
.nav-menu {
	height: 100%;
	display: flex;
	justify-content: space-around;
	width: 50%;
}
.nav-menu span {
	font-family: 'Andalusia';
	font-size: 24px;
}
.nav-menu a:nth-child(odd) {
	color: #feb620;
}
.nav-menu a:nth-child(even) {
	color: #f63e2c;
}
.berger-menu {
	display: inline-block;
}
.berger-menu img {
	width: 30px;
	margin-bottom: 10px;
}
.berger-link {
	font-size: 24px;
	font-family: 'Andalusia';
	float: right;
	padding: 1em 0 0 0 !important;
}
.ant-dropdown {
	background: url("/assets/images/background.jpg") no-repeat center !important;
	padding-left: .5em !important;
	padding-bottom: 1em !important;
	padding-right: .5em !important;
	border-radius: 10px;
}
.ant-dropdown-menu {
	display: block;
	box-shadow: none !important;
	background: transparent !important;
}
.ant-dropdown-menu li:nth-child(odd) a {
	color: #feb620;
}
.ant-dropdown-menu li:nth-child(even) a {
	color: #f63e2c;
}
.ant-dropdown-menu-item:hover {
	background: transparent !important;
}
.nav-down {
	font-family: "Andalusia";
	font-size: 20px;
}

/* profile */
.ant-back-top h1 {
	color: #f63e2c !important;
	font-family: 'Ageo' !important;
	text-align: center;
}
.fix-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 100;
	display: block;
	height: 90px;
	width: 100vw;
	background: url("/assets/images/background.jpg") no-repeat;
	/* -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}
.profile-top {
	/* margin-top: 100px; */
}
.profile-left {
	text-align: center;
	/* position: fixed; */
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
/* profile 2 cols PC */
@media (min-width: 768px) {
	.profile-left img {
		width: 28vw;
		max-width: 400px;
	}
	.profile-left img {
		position: fixed;
	}
	.profile-more {
		margin: 3em 1em 2em 2em;
	}
}
@media (min-width: 1600px) {
	html,
	body {
		background: url("/assets/images/background.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.fix-top {
		background: url("/assets/images/background.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
/* profile 1 col MOBILE */
@media (max-width: 767px) {
	.profile-left img {
		width: 80vw;
		max-width: 300px;
	}
	.profile-more {
		margin: 3em 1em 2em 1em;
	}
}
.profile-left img {
	margin-left: auto;
	margin-right: auto;
}
.profile-right {
	padding: 2%;
}
.profile-right-top {
	padding-right: 10%;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	width: 100%;
}
.profile-title {
	display: inline-block;
	color: #f63e2c;
	margin-left: auto;
	margin-right: auto;
}
.profile-radio {
	display: inline-block;
}
.title-kim {
	color: #feb620;
	display: inline !important;
}
.title-kr {
	font-family: 'Iropke Batang';
	display: inline-block;
}
.title-right {
	display: inline-block;
	padding: 0 0 0 1em;
}
.title-right span {
	display: block;
}
.title-cn {
	font-family: 'Noto Serif TC', serif;
	font-weight: 500;
}
.title-en {
	font-family: 'Ageo';
}
/* radio */
.profile-radio .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
	color: #f63e2c !important;
	text-decoration: underline;
}
.ant-radio-button-wrapper {
	font-family: 'Ageo';
	font-weight: bold;
	color: #feb620 !important;
	border: none !important;
	background: transparent !important;
}
.ant-radio-button-wrapper-checked:focus-within {
	box-shadow: none !important;
}
.ant-radio-button-wrapper-checked::before {
	background: transparent !important;
}
@media (max-width: 479px) {
	.profile-top {
		margin-bottom: 20px;
	}
	.title-kr {
		font-size: 60px;
		line-height: 60px;
	}
	.title-kr .title-kim {
		display: block !important;
	}
	.title-cn,
	.title-en {
		font-size: 20px;
	}
	.ant-radio-button-wrapper {
		font-size: 16px !important;
	}
	.profile-radio {
		margin-top: 1em;
	}
}
@media (min-width: 480px) {
	.ant-radio-button-wrapper {
		font-size: 20px !important;
	}
	.title-kr {
		font-size: 80px;
	}
	.title-cn,
	.title-en {
		font-size: 30px;
	}
}
.ant-table-thead,
.ant-table-pagination {
	display: none !important;
}
.ant-table {
	background: transparent !important;
}
.ant-table-cell:nth-child(1) {
	color: #f63e2c;
	text-align: right;
}
.ant-table-cell:nth-child(2) {
	font-family: 'Iropke Batang';
	color: #feb620;
	width: 16px;
	line-height: 16px;
	font-size: 40px;
}
.ant-table-cell:nth-child(3) {
	color: #000;
}
.profile-korean {
	font-family: 'Iropke Batang';
	font-size: 16px;
}
.ant-table-row,
.ant-table-cell {
	border: none;
}
.ant-table-tbody > tr > td {
	border: none !important;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
	padding: 8px 6px !important;
}
.ant-table-row:hover .ant-table-cell {
	background: transparent !important;
}
.profile-chinese {
	font-family: 'Noto Serif TC', serif;
	font-size: 16px;
}
.profile-box-border {
	font-size: 14px !important;
	/* line-height: 20px; */
	border: 2px dashed #feb620;
	padding: 1em 1em .5em 1em;
	border-radius: 10px;
}
/* .profile-box-border p {
	margin-bottom: .5em;
} */
.profile-box {
	margin-bottom: 3em;
}
.profile-right-content {
	margin-top: 2em;
}
.profile-box h3 {
	color: #f63e2c;
}

/* memory */
.fix-content {
	margin-top: 100px;
}
.memory-fix {
	padding: 5%;
}
.memory-top {
	/* margin-top: 100px; */
}
.memory-top img {
	width: 25%;
}
.memory-dash {
	height: 15vw;
	margin-left: 10%;
	border-left: 4px dotted #f63e2c;
}
/* .other-dash {
	margin-left: 12.5%;
	border-left: 4px dotted #f63e2c;
}
.iphone-dash {
	margin-left: 10%;
	border-left: 4px dotted #f63e2c;
	margin-left: 0;
	-webkit-border-after: 4px dotted #f63e2c;
	writing-mode: vertical-rl; 
} */
.memory-date {
	margin: 0 0 3em 0;
}
.memory-date span {
	display: inline-block;
}
.memory-left {
	text-align: center;
	font-family: 'Noto Serif TC', serif;
	font-weight: 500;
	color: #feb620;
	margin: 0 auto;
	width: 25%;
	display: inline-block;
}
.memory-month {
	text-align: right;
	font-size: calc(1vw + 15px);
}
.memory-month div {
	color: #f63e2c;
	font-size: calc(10px + 1vw);
	line-height: calc(10px + 1vw);
}
.memory-right {
	color: #f63e2c;
	font-family: 'Ageo';
	font-weight: bold;
	font-size: calc(10px + 1.5vw);
	display: inline-block;
	padding-left: 1em;
	word-wrap: normal;
}
/* .memory-item {
	padding-left: 10%;
} */
.memory-source {
	padding-top: 2em;
	padding-left: 1vw;
	margin-left: 10%;
	border-left: 4px dotted #f63e2c;
	/* border-image: url("/assets/images/dot.png") repeat;
	border-width: 0 0 0 5px;
	border: solid transparent; */
	/* padding-left: 5px; */
}
.source-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom: 10px;
}
.memory-img {
	position: relative;
	width: 25%;
	min-width: 120px;
	/* border: #feb620 1.5vw solid; */
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	margin: 3vw 2vw !important;
	box-shadow: 0 0 0 2vw #feb620;
}
.memory-img:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
.memory-source img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}
.memory-vid {
	position: relative;
	/* width: 90%; */
	/* min-width: 250px;
	max-width: 100%; */
	/* max-width: 560px; */
	/* max-height: 315px; */
	overflow: hidden;
	/* border: #feb620 1.5vw solid; */
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	padding-top: 50%;
	object-fit: cover;
	margin: 3vw 2vw;
	box-shadow: 0 0 0 2vw #feb620;
}
.memory-vid iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100% !important;
}
.top-arrow {
	width: 20px;
}
.ant-back-top {
	text-align: center;
	right: 20px !important;
}
@media screen and (max-width: 768px) {
	.ant-back-top {
		text-align: right;
	}
}
@media screen and (max-width: 480px) {
	.ant-back-top {
		right: 10px !important;
	}
}
.source-vid {
	/* width: 90%; */
	padding-bottom: 10px;
	padding-left: 2.5vw;
}
.source-awd {
	font-family: "Ageo";
	font-size: calc(20px + 2vw);
	padding: .5em 0 10px .5em;
	color: #feb620;
}
iframe[src*="youtube.com"],
iframe[src*="youtube-nocookie.com"],
iframe[src*="vimeo.com"] {
	width: 100%;
	height: auto;
	/* aspect-ratio: 560/315 !important; */
}
.memory-date a,
.memory-date a:hover,
.memory-date a:active,
.memory-date a:visited {
	color: #feb620;
	text-decoration: underline !important;
}

/* photo-playlist */
.double-col {
	text-align: center;
	padding: 10%;
	position: relative;
}
.double-menu {
	padding-top: 2%;
}
.double-col img:nth-child(1) {
	max-width: 300px !important;
	width: 80%;
	z-index: 10;
	position: relative;
}
.double-col img:nth-child(2) {
	display: none;
	/* max-width: 250px; */
	width: 60%;
	z-index: 5;
	position: absolute;
	box-sizing: border-box;
}
.col-left:hover img:nth-child(2) {
	display: block;
	left: 5vw;
	bottom: 5vw;
}
.col-right:hover img:nth-child(2) {
	display: block;
	right: 10vw;
	top: 5vw;
}

/* photo */
.ant-pagination-options {
	display: none !important;
}
.img-card .ant-card-body {
	display: none !important;
}
.twi-src {
	width: 90%;
	margin: 0 auto;
}
.img-card {
	padding: 15px 15px 35px 15px;
	background: url("/assets/images/paper.jpg") no-repeat center center;
}
.twi-radio {
	text-align: center;
	margin-bottom: 3%;
}
.twi-radio span {
	color: #f63e2c !important;
}
.twi-radio .ant-radio-button-wrapper {
	border: 3px solid #f63e2c !important;
	border-radius: 20px !important;
}
.twi-radio .ant-radio-button-wrapper:nth-child(1) {
	margin-right: 10px;
}
.ant-radio-button-wrapper:not(:first-child)::before {
	background: transparent !important;
}
.twi-radio .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
	background: #feb620 !important;
}
.ant-list-pagination {
	margin-top: 1% !important;
	text-align: center !important;
}
.ant-pagination-item-link {
	background: transparent !important;
	border: none !important;
}
.ant-pagination-item,
.ant-pagination-item-active {
	background: transparent !important;
	border: none !important;
}
.ant-pagination-item a {
	color: #f63e2c !important;
}
.ant-pagination-item-active a {
	color: #feb620 !important;
}
.photo-content {
	padding-bottom: 40px;
}
.ant-pagination-item-link,
.ant-pagination-item-link-icon {
	color: #f63e2c !important;
}
.ant-pagination-item-link:hover,
.ant-pagination-item-link-icon:hover {
	color: #feb620 !important;
}
.anticon-double-right {
	color: #feb620 !important;
}
.ant-pagination-item-ellipsis {
	color: #f63e2c !important;
}
.vid-card {
	/* aspect-ratio: 315/560 !important; */
}
.vid-card .ant-card-cover {
	overflow: hidden;
	padding-top: 150%;
	object-fit: cover;
}
.vid-card .ant-card-cover iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100% !important;
	width: 100% !important;
}

/* playlist */
/* 1 col */
.playlist-left {
	width: 100vw;
	/* overflow: hidden; */
	z-index: 10;
	margin: calc(100px + 40%) 10% 10% 10%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.player-fix {
	width: 45%;
	max-width: 560px;
	position: fixed;
	margin: 0 auto;
	/* z-index: 8;  */
	overflow: hidden;
	/* margin-top: 6vw; */
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: 0 0 0 3vw #feb620;
	padding-top: 20%;
	object-fit: cover;
	/* position: relative; */
}
.player-fix iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	/* position: absolute;
	z-index: 10;
	width: 80%;
	left: 0;
	right: 0; */
}
@media (min-width: 951px) and (max-width: 1140px) {
	.playlist-card img {
		width: 100px !important;
		/* aspect-ratio: 560/315; */
	}
	/* .player-fix img {
		width: 80% !important;
	}
	.player-fix iframe {
		width: 64% !important;
		top: 35% !important;
	} */
}
@media (min-width: 852px) and (max-width: 950px) {
	.playlist-card img {
		width: 50px !important;
		height: 30px;
		/* aspect-ratio: 560/315; */
		display: none !important;
	}
	/* .player-fix img {
		width: 80% !important;
	}
	.player-fix iframe {
		width: 64% !important;
		top: 35% !important;
	} */
}
@media (min-width: 840px) and (max-width: 851px) {
	.playlist-card p {
		padding-left: 4em !important;
	}
	.playlist-card img {
		display: none !important;
	}
	/* .player-fix img {
		width: 80% !important;
	}
	.player-fix iframe {
		width: 64% !important;
		top: 35% !important;
	} */
}
.playlist-list {
	list-style: none;
	margin: 2% 5% 2% 10%;
	/* padding: 0 5% 2% 10%; */
	border: 4px dashed #feb620;
	padding: 1em 1em .5em 1em;
	border-radius: 10px;
	overflow: hidden;
}
.playlist-card {
	display: flex;
	align-items: center;
	/* margin-bottom: 2em; */
	padding: 1em 0;
	border-bottom: 4px dashed #feb620;
}
.playlist-card img {
	width: 180px;
	aspect-ratio: 560/315;
	display: inline-block;
}
.playlist-card p {
	display: inline-block;
	/* width: calc(100% - 200px); */
	padding-left: 2.5em;
	padding-right: 2em;
	font-family: 'Montserrat', sans-serif;
}
.playlist-card p {
	color: #f63e2c;
}
/* 2 cols */
.top-bottom {
	margin-top: 89px;
}
.play-top {
	z-index: 50;
	position: fixed;
	width: 100%;
	/* min-height: 30vh; */
	background: url("/assets/images/background.jpg") fixed;
	padding-bottom: 3vw;
}
/* .play-top > div > img {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	z-index: 10;
} */
.play-flex {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.player-outer {
	/* z-index: 5; */
	margin: auto;
	width: 85%;
	/* height: 60%; */
	overflow: hidden;
	margin-top: 6vw;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: 0 0 0 3vw #feb620;
	padding-top: 50%;
	object-fit: cover;
	position: relative;
	/* width: 300px;
	height: 322px;
	border-image-slice:205 131 65 43;border-image-width:147px 97px 49px 32px;border-image-outset:0px 0px 0px 0px;border-image-repeat:stretch stretch;
	border-image-source: url("/assets/images/TV.png"); */
}
.player-outer > iframe {
	/* height: 100%; */
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
}
.play-bottom {
	padding-top: calc(80px + 52%);
}
.bottom-list {
	list-style: none;
	margin: 2%;
	/* padding: 0 2% 2% 5%; */
	border: 3px dashed #feb620;
	padding: .7em .7em .5em .7em;
	border-radius: 10px;
	overflow: hidden;
}
.bottom-card {
	display: flex;
	align-items: center;
	padding: .5em 0;
	border-bottom: 3px dashed #feb620;
}
.bottom-card img {
	width: 140px;
	aspect-ratio: 560/315;
	display: inline-block;
}
.bottom-card p {
	font-size: 14px;
	display: inline-block;
	padding-left: 1em;
	/* padding-right: 1em;  */
	font-family: 'Montserrat', sans-serif;
}
.bottom-card p {
	color: #f63e2c;
}

/* message */
.message-title {
	width: 80%;
	margin: 5% auto;
}
.message-title h1 {
	font-family: "Ageo";
	font-weight: bold;
	color: #f63e2c;
}
.message-title > h1 > span {
	color: #feb620;
}
.message-form .ant-input {
	border: 2px solid #f63e2c;
	border-radius: 10px;
}
.message-form .ant-form-item:not(:nth-child(1)) {
	display: inline-block;
}
.message-form button.ant-btn.ant-btn-primary,
.message-form button.ant-btn.ant-btn-primary:hover,
.message-form button.ant-btn.ant-btn-primary:active,
.message-form button.ant-btn.ant-btn-primary:focus {
	background: transparent;
	border: none;
	width: 90px;
	text-shadow: none;
	box-shadow: none;
}
.message-form button.ant-btn.ant-btn-primary span {
	color: #f63e2c;
	font-family: "Ageo";
	font-weight: bold;
	font-size: 1.5em;
}
.message-form textarea#content,
.message-form textarea#content:hover,
.message-form textarea#content:active,
.message-form textarea#content:focus,
.message-form input#username,
.message-form input#username:hover,
.message-form input#username:active,
.message-form input#username:focus {
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #f63e2c;
	border-radius: 10px;
	text-shadow: none;
	box-shadow: none;
}
.message-form .ant-form-item-explain.ant-form-item-explain-error {
	color: #f63e2c;
	font-family: "Ageo";
}
.message-form textarea.ant-input {
	min-height: 100px;
}
.message-div {
	margin: 0 10%;
}
@media (min-width: 768px) {
	.message-left {
		position: fixed;
		height: auto;
		width: 50%;
	}
}
@media (max-width: 767px) {
	.message-left {
		background: url("/assets/images/background.jpg") no-repeat;
		/* z-index: 100;
		position: fixed; */
		position: relative;
		height: auto;
		width: 100%;
	}
	/* .fix-message {
		margin-top: 89px;
	}
	.fetch-comment {
		margin-top: calc(90px + 30vh) !important;
	} */
}
.fetch-comment {
	width: 80%;
	margin: 5% auto;
}
.fetch-comment .ant-card.ant-card-bordered {
	border: 2px solid #f63e2c;
	border-radius: 10px;
}
.fetch-comment .ant-card-head-title {
	padding: 6px 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.fetch-comment .ant-card-body {
	padding: 6px 12px;
	font-family: 'Montserrat', sans-serif;
}
.fetch-comment .ant-card-head {
	padding: 0;
	min-height: none;
}
.fetch-comment .ant-card-head::after {
	display: none;
}

/* fanmade */
.fix-fans {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
	width: 100%;
	flex-wrap: wrap;
	margin: 0 auto;
}
.fix-fans .ant-card-body {
	width: 320px;
	color: #f63e2c;
	font-family: "Iropke Batang";
	text-align: center;
	font-size: 20px;
}
.fix-fans .ant-card-cover {
	border: 4px solid #f63e2c;
	border-radius: 10px;
	overflow: hidden;
}
.fix-fans .ant-card-cover iframe {
	margin: -2px;
	width: calc(100% + 4px);
}
.fix-fans .ant-card {
	border: 4px solid #f63e2c;
	border-radius: 10px;
	background: transparent;
	padding: 10px;
	margin: 2%;
	height: 320px;
}
.fix-fans p {
	color: #feb620;
	margin-top: 1em;
	font-family: 'Ageo';
}
@media (min-width: 1186px) {
	.fix-fans {
		margin-top: calc(100px + 10%);
	}
}
