@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500&display=swap');
/* font-family: 'Noto Serif TC', serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@font-face {
	font-family: 'Adlinnaka';
	src: url("/assets/fonts/Adlinnaka-BoldDemo.ttf");
	font-display: swap;
}
@font-face {
	font-family: 'Ageo';
	src: url("/assets/fonts/AgeoPersonalUse-Medium.otf");
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Ageo';
	src: url("/assets/fonts/AgeoPersonalUse-Bold.otf");
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: 'Iropke Batang';
	src: url("/assets/fonts/IropkeBatangM.ttf");
	font-display: swap;
}
@font-face {
	font-family: 'Andalusia';
	src: url("/assets/fonts/Andalusia.ttf");
	font-display: swap;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Ageo', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
	background: url("/assets/images/background.jpg") fixed;
	/* background: url("/assets/images/background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* MOBILE */
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
	.home-logo img {
		height: 160px;
	}
	.home-flower {
		height: 100%;
		width: 100%;
	}
	.home-flower img {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
	.home-logo img {
		height: 160px;
	}
	.home-flower {
		bottom: 0;
	}
	.home-flower img {
		width: 100%;
	}
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
	.home-logo img {
		height: 160px;
	}
	.home-flower {
		bottom: 0;
	}
	.home-flower img {
		max-width: 100%;
		max-height: 100%;
	}
}

/* PC */
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
	.home-logo img {
		height: 300px;
	}
	.home-flower {
		height: 100%;
	}
	.home-flower img {
		height: 100%;
	}
}
/* Media Query for Large screens */
@media (min-width: 1281px) {
	.home-logo img {
		height: 300px;
	}
	.home-flower {
		height: 100%;
	}
	.home-flower img {
		height: 100%;
	}
}

/* FADE IN */
.fade-in {
	animation: fadeIn ease 3s;
	-webkit-animation: fadeIn ease 3s;
	-moz-animation: fadeIn ease 3s;
	-o-animation: fadeIn ease 3s;
	-ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* #feb620 */
/* #f63e2c */

/* index.js */
.home-container {
	height: 100vh;
	width: 100vw;
	position: relative;
}
.home-logo {
	height: 100%;
	width: 100%;
	z-index: 10;
	position: absolute;
}
.home-logo img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.home-flower {
	z-index: 5;
	position: absolute;
	width: 100%;
	overflow: hidden;
}
.home-title {
	position: absolute;
	bottom: 4%;
	text-align: center;
	z-index: 10;
	margin: auto;
	left: 0;
	right: 0;
}
.home-title span {
	color: #feb620;
	font-family: "Ageo";
	font-size: 12px;
}
.home-twitter {
	z-index: 15;
	margin: 0;
	position: absolute;
	right: 30px;
	top: 30px;
}
.home-twitter img {
	width: 30px;
	height: auto;
}

/* menu */
.menu-logo {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 2;
}
.menu-logo img {
	width: 80px;
}
.menu-block {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	height: 60%;
	margin: 140px 0 0 0;
}
.menu-icon {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-icon img {
	height: auto;
	width: 120%;
	margin-left: -10%;
}
.menu-icon img:hover,
.menu-icon img:active {
	width: 140%;
}
.menu-icon:hover,
.menu-icon:active {
	z-index: 100 !important;
}
.menu-icon:nth-child(1) {
	z-index: 25;
}
.menu-icon:nth-child(2) {
	z-index: 10;
}
.menu-icon:nth-child(3) {
	z-index: 15;
}
.menu-icon:nth-child(4) {
	z-index: 20;
}
/* <839 */
@media (max-width: 839px) {
	.menu-block {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.menu-icon:nth-child(1) {
		width: 45vw;
	}
	.menu-icon:nth-child(2) {
		width: 40vw;
	}
	.menu-icon:nth-child(3) {
		width: 38vw;
	}
	.menu-icon:nth-child(4) {
		width: 48vw;
	}
}
/* >840 */
@media (min-width: 840px) {
	.menu-icon:nth-child(1) {
		width: 220px;
	}
	.menu-icon:nth-child(2) {
		width: 200px;
	}
	.menu-icon:nth-child(3) {
		width: 190px;
	}
	.menu-icon:nth-child(4) {
		width: 230px;
	}
}

/* navbar */
.nav-div {
	position: fixed;
	margin: 0;
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	width: 100%;
}
.nav-logo {
	display: inline-block;
}
.nav-logo img {
	width: 80px;
}
.nav-menu {
	height: 100%;
	display: flex;
	justify-content: space-around;
	width: 50%;
}
.nav-menu span {
	font-family: 'Andalusia';
	font-size: 24px;
}
.nav-menu a:nth-child(odd) {
	color: #feb620;
}
.nav-menu a:nth-child(even) {
	color: #f63e2c;
}
.berger-menu {
	display: inline-block;
}
.berger-menu img {
	width: 30px;
	margin-bottom: 10px;
}
.berger-link {
	font-size: 24px;
	font-family: 'Andalusia';
	float: right;
	padding: 1em 0 0 0 !important;
}
.ant-dropdown {
	background: url("/assets/images/background.jpg") no-repeat !important;
	padding-left: 1em !important;
	padding-bottom: 1em !important;
	border-radius: 10px;
}
.ant-dropdown-menu {
	display: block;
	box-shadow: none !important;
	background: transparent !important;
}
.ant-dropdown-menu li:nth-child(odd) a {
	color: #feb620;
}
.ant-dropdown-menu li:nth-child(even) a {
	color: #f63e2c;
}
.ant-dropdown-menu-item:hover {
	background: transparent !important;
}

/* profile */
.ant-back-top h1 {
	color: #f63e2c !important;
	font-family: 'Ageo' !important;
	text-align: center;
}
.fix-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 100;
	display: block;
	height: 90px;
	width: 100vw;
	background: url("/assets/images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.profile-top {
	/* margin-top: 100px; */
}
.profile-left {
	text-align: center;
	/* position: fixed; */
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
/* profile 2 cols PC */
@media (min-width: 768px) {
	.profile-left img {
		width: 28vw;
		max-width: 400px;
	}
	.profile-left img {
		position: fixed;
	}
	.profile-more {
		margin: 3em 1em 2em 2em;
	}
	html,
	body {
		background: url("/assets/images/background.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
/* profile 1 col MOBILE */
@media (max-width: 767px) {
	.profile-left img {
		width: 80vw;
		max-width: 300px;
	}
	.profile-more {
		margin: 3em 1em 2em 1em;
	}
}
.profile-left img {
	margin-left: auto;
	margin-right: auto;
}
.profile-right {
	padding: 2%;
}
.profile-right-top {
	padding-right: 10%;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	width: 100%;
}
.profile-title {
	display: inline-block;
	color: #f63e2c;
	margin-left: auto;
	margin-right: auto;
}
.profile-radio {
	display: inline-block;
}
.title-kim {
	color: #feb620;
	display: inline !important;
}
.title-kr {
	font-family: 'Iropke Batang';
	display: inline-block;
}
.title-right {
	display: inline-block;
	padding: 0 0 0 1em;
}
.title-right span {
	display: block;
}
.title-cn {
	font-family: 'Noto Serif TC', serif;
	font-weight: 500;
}
.title-en {
	font-family: 'Ageo';
}
/* radio */
.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
	color: #f63e2c !important;
	text-decoration: underline;
}
.ant-radio-button-wrapper {
	font-family: 'Ageo';
	font-weight: bold;
	color: #feb620 !important;
	border: none !important;
	background: transparent !important;
}
.ant-radio-button-wrapper-checked:focus-within {
	box-shadow: none !important;
}
.ant-radio-button-wrapper-checked::before {
	background: transparent !important;
}
@media (max-width: 479px) {
	.profile-top {
		margin-bottom: 20px;
	}
	.title-kr {
		font-size: 60px;
		line-height: 60px;
	}
	.title-kr .title-kim {
		display: block !important;
	}
	.title-cn,
	.title-en {
		font-size: 20px;
	}
	.ant-radio-button-wrapper {
		font-size: 16px !important;
	}
	.profile-radio {
		margin-top: 1em;
	}
}
@media (min-width: 480px) {
	.ant-radio-button-wrapper {
		font-size: 20px !important;
	}
	.title-kr {
		font-size: 80px;
	}
	.title-cn,
	.title-en {
		font-size: 30px;
	}
}
.ant-table-thead,
.ant-table-pagination {
	display: none !important;
}
.ant-table {
	background: transparent !important;
}
.ant-table-cell:nth-child(1) {
	color: #f63e2c;
	text-align: right;
}
.ant-table-cell:nth-child(2) {
	font-family: 'Iropke Batang';
	color: #feb620;
	width: 16px;
	line-height: 16px;
	font-size: 40px;
}
.ant-table-cell:nth-child(3) {
	color: #000;
}
.profile-korean {
	font-family: 'Iropke Batang';
	font-size: 16px;
}
.ant-table-row,
.ant-table-cell {
	border: none;
}
.ant-table-tbody > tr > td {
	border: none !important;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
	padding: 8px 6px !important;
}
.ant-table-row:hover .ant-table-cell {
	background: transparent !important;
}
.profile-chinese {
	font-family: 'Noto Serif TC', serif;
	font-size: 16px;
}
.profile-box-border {
	font-size: 14px !important;
	/* line-height: 20px; */
	border: 2px dashed #feb620;
	padding: 1em 1em .5em 1em;
	border-radius: 10px;
}
/* .profile-box-border p {
	margin-bottom: .5em;
} */
.profile-box {
	margin-bottom: 3em;
}
.profile-right-content {
	margin-top: 2em;
}
.profile-box h3 {
	color: #f63e2c;
}

/* memory */
.fix-content {
	margin-top: 100px;
}
.memory-fix {
	padding: 5%;
}
.memory-top {
	/* margin-top: 100px; */
}
.memory-top img {
	width: 25%;
}
.memory-dash {
	height: 15vw;
	margin-left: 12.5%;
	border-left: dotted #f63e2c 4px;
}
.memory-date {
	margin: 0 0 3em 0;
}
.memory-date span {
	display: inline-block;
}
.memory-left {
	text-align: center;
	font-family: 'Noto Serif TC', serif;
	font-weight: 500;
	color: #feb620;
	margin: 0 auto;
	width: 25%;
	display: inline-block;
}
.memory-month {
	text-align: right;
	font-size: calc(1vw + 15px);
}
.memory-month div {
	color: #f63e2c;
	font-size: calc(10px + 1vw);
	line-height: calc(10px + 1vw);
}
.memory-right {
	color: #f63e2c;
	font-family: 'Ageo';
	font-weight: bold;
	font-size: calc(10px + 1.5vw);
	display: inline-block;
	padding-left: 1em;
	word-wrap: normal;
}
.memory-source {
	margin-left: 12.5%;
	border-left: dotted #f63e2c 4px;
	padding-top: 2em;
	padding-left: 1vw;
	/* border-image: url("/assets/images/dot.png") repeat;
	border-width: 0 0 0 5px;
	border: solid transparent; */
	/* padding-left: 5px; */
}
.source-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom: 10px;
}
.memory-img {
	position: relative;
	width: 25%;
	min-width: 120px;
	/* border: #feb620 1.5vw solid; */
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	margin: 3vw 2vw;
	box-shadow: 0 0 0 2vw #feb620;
}
.memory-img:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
.memory-source img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}
.memory-vid {
	position: relative;
	/* width: 90%; */
	/* min-width: 250px;
	max-width: 100%; */
	/* max-width: 560px; */
	/* max-height: 315px; */
	overflow: hidden;
	/* border: #feb620 1.5vw solid; */
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	margin: 3vw 2vw;
	box-shadow: 0 0 0 2vw #feb620;
}
.top-arrow {
	width: 20px;
}
.ant-back-top {
	text-align: right;
}
.source-vid {
	/* width: 90%; */
	padding-bottom: 10px;
	padding-left: 2.5vw;
}
.memory-vid iframe {
	margin-bottom: -8px;
	width: 100%;
	height: 100%;
}
.source-awd {
	font-family: "Ageo";
	font-size: calc(20px + 2vw);
	padding: .5em 0 10px .5em;
	color: #feb620;
}
iframe[src*="youtube.com"],
iframe[src*="youtube-nocookie.com"],
iframe[src*="vimeo.com"] {
	width: 100%;
	height: auto;
	aspect-ratio: 560/315 !important;
}
.memory-date a,
.memory-date a:hover,
.memory-date a:active,
.memory-date a:visited {
	color: #feb620;
	text-decoration: underline !important;
}
